.subtitle-h1 {
	font-size: 1.5rem;
	line-height: 1.5;
	color: #595f75;
}

.text {
	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}
}

.my {
	&-1 {
		margin-top: 0.25rem; /* 4px */
		margin-bottom: 0.25rem; /* 4px */
	}
	&-2 {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

.mb {
	&-1 {
		margin-bottom: 1rem;
	}
	&-2 {
		margin-bottom: 2rem;
	}
	&-5 {
		margin-bottom: 5rem;
	}
}

.max-width-title {
	width: 95%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}
