.subtitle-h1 {
	font-size: 1.5rem;
	line-height: 1.5;
	color: #595f75;
}

.text {
	&-center {
		text-align: center;
	}
}

.my {
	&-1 {
		margin-top: 0.25rem; /* 4px */
		margin-bottom: 0.25rem; /* 4px */
	}
}
