// HERO Section
.soldcre-hero {
	min-height: 50vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 130px 16px;

	background: url('https://www.calgary-real-estate.com/uploads/agent-1/SOLD/un-optimized/sold-cre-hero-homepage.jpeg');
	background-size: cover;
	background-attachment: fixed;

	position: relative;
	z-index: 5;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .8);
		z-index: 1;
	}

	&__text {
		position: relative;
		z-index: 5;
	}
}

// BANNER Section
.soldcre-banner {
	min-height: 70vh;
	background: url('https://www.calgary-real-estate.com/uploads/agent-1/SOLD/un-optimized/sold-cre-banner.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

// FAQ Section
.soldcre-faq {
	overflow: hidden;
	padding: 130px 16px 80px;

	background: url('https://www.calgary-real-estate.com/uploads/agent-1/SOLD/un-optimized/faqs-background.jpeg');
	background-size: cover;
	background-attachment: fixed;

	position: relative;
	z-index: 5;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .9);
		z-index: 1;
	}

	.soldcre-wrapper {
		position: relative;
		z-index: 5;

		@media screen and (min-width: 1024px) {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.soldcre-faq__left {
				width: calc(50% - 1rem);
			}

			.soldcre-faq__right {
				width: calc(50% - 1rem);
			}

			.underline-y {
				width: 1px;
				background-color: rgba(255, 255, 255, 0.35) !important;
				height: 50vh;
			}
		}
	}

	&__container {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// HOME PRICE Section
.soldcre-homeprice__content {
	max-width: 900px;
	margin: 0 auto;

	@media screen and (min-width: 1024px) {
		background: rgba(255, 255, 255, 0.95);
		padding: 4rem 3rem 1rem;

		position: relative;
		margin-top: -15rem;

		border-top-left-radius: 100px;
		border-bottom-right-radius: 100px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	}
}
